<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>Pipes incluidos en Angular - Usualmente en el módulo de Common</p>
</div>

<div class="grid">
    <div class="col-4 bigScreen">
        <p-card header="Ventas Netas" subheader="del presenta año">
           <i class="pi pi-dollar"></i> {{netSales+100000 | number:'1.2-2'}}
        </p-card>
    </div>

    <div class="col-12 smallScreen">
        <p-card header="Ventas Netas" subheader="del presenta año">
           <i class="pi pi-dollar"></i> {{netSales+100000 | number:'1.2-2'}}
        </p-card>
    </div>

    <div class="col-4 bigScreen">
        <p-card header="Ventas Brutas" subheader="del presenta año">
           {{netSales+250000 | currency:'ARS': 'symbol-narrow':'1.4-4'}}
        </p-card>
    </div>

    <div class="col-12 smallScreen">
        <p-card header="Ventas Brutas" subheader="del presenta año">
           {{netSales+250000 | currency:'ARS': 'symbol-narrow':'1.4-4'}}
        </p-card>
    </div>

    <div class="col-4 bigScreen">
        <p-card header="Ganancia %" subheader="del presenta año">
           {{percent | percent:'2.2-2'}}
        </p-card>
    </div>

    <div class="col-12 smallScreen">
        <p-card header="Ganancia %" subheader="del presenta año">
           {{percent | percent:'2.2-2'}}
        </p-card>
    </div>
</div>