<div class="text-layout">
    <h1>Pipes Personalizados</h1>
    <p>¡Pipes creados {{'por nosotros mismos' | capital:isCap}}!</p>
    <small>Esta sección consta de una misma tabla hecha de dos formas: una con pipes personalizados y otra con PrimeNg.</small>
    <hr>
</div>

<p-toolbar>
    <div class="p-toolbar-group-left">
        

    </div>
    
    <div class="p-toolbar-group-center">
        <button (click)="changeCap()" pButton type="button" label="capitalToggler" class="mr-1 bigScreen"></button>
        <button (click)="changeCap()" pButton type="button" label="capitalToggler" class="mr-1 smallScreen col-12"></button>
        <button (click)="changeOrder('name')" pButton icon="pi pi-sort" label="Nombre" class="p-button-info mr-1 bigScreen"></button>
        <button (click)="changeOrder('name')" pButton icon="pi pi-sort" label="Nombre" class="p-button-info mr-1 smallScreen col-12"></button>
        <button (click)="changeOrder('nationality')" pButton icon="pi pi-sort" label="Nacionalidad" class="p-button-success mr-1 bigScreen"></button>
        <button (click)="changeOrder('nationality')" pButton icon="pi pi-sort" label="Nacionalidad" class="p-button-success mr-1 smallScreen col-12"></button>
        <button (click)="changeOrder('type')" pButton icon="pi pi-sort" label="Tipo" class="p-button-help mr-1 bigScreen"></button>
        <button (click)="changeOrder('type')" pButton icon="pi pi-sort" label="Tipo" class="p-button-help mr-1 smallScreen col-12"></button>
    </div>
</p-toolbar>

<div class="grid">
    <div class="col mt-2">
        <p-table [value]="sfCharacters | order:orderBy" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Nacionalidad</th>
                    <th>Input/Charge</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sfCharacter>
                <tr>
                    <td>{{sfCharacter.name}}</td>
                    <td>{{sfCharacter.nationality}}</td>
                    <td>{{sfCharacter.type}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<hr>
<div class="grid">
    <div class="col mt-2">
        <p-table [value]="sfCharacters | slice:0" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Nombre<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="nationality">Nacionalidad<p-sortIcon field="nationality"></p-sortIcon></th>
                    <th pSortableColumn="type">Input/Charge<p-sortIcon field="type"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sfCharacter>
                <tr>
                    <td>{{sfCharacter.name}}</td>
                    <td>{{sfCharacter.nationality}}</td>
                    <td>{{sfCharacter.type}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
