/* You can add global styles to this file, and also import other style files */
html{
    margin: 10px;
    background-color: var(--surface-b);
    font-family: var(--font-family)
}

.text-layout{
    color: var(--text-color);
}

@media (max-width: 413px) {
    .bigScreen {
      display:none;
    }
    .smallScreen {
      display:block;
    }
  }
  
  @media (min-width: 414px) {
    .bigScreen {
      display:block;
    }
    .smallScreen {
      display:none;
    }
  }